
.title {
  margin: 30px;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 40px;
  font-weight: 9000;
  color: aliceblue;
}

.table{
  color: aliceblue;
}

table th{
  background-color: rgba(0, 0, 0, 0.568);
  color: rgb(255, 255, 255);
}