<div class="mcontainer wrapper">
  <h1>Navegue no site através do menu superior.</h1>
</div>

<div class="about">
  <div class="list-group">
    <a
      href="https://www.linkedin.com/in/gabeclemente/"
      target="_blank"
      class="list-group-item list-group-item-action list-group-item-warning"
      >Create for: Gabriela Clemente</a
    >
    <a
      href="https://www.linkedin.com/in/gabeclemente/"
      target="_blank"
      class="list-group-item list-group-item-action list-group-item-danger"
      >Linkedin: https://www.linkedin.com/in/gabeclemente/</a
    >
    <a
      href="https://github.com/gabrielajc"
      target="_blank"
      class="list-group-item list-group-item-action list-group-item-success"
      >GitHub: https://github.com/gabrielajc</a
    >
    <a
      href="https://github.com/gabrielajc"
      target="_blank"
      class="list-group-item list-group-item-action list-group-item-info"
      >Obrigada por acessar este repositório!</a
    >
  </div>
</div>
