/* You can add global styles to this file, and also import other style files */

body{
  background-color: rgb(14, 46, 79);
  font-size: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: aliceblue;
 
  
}
